include doc/CHANGELOG
include doc/INSTALL
include conf/*.dist
include conf/*.cfg
include conf/templates/*.dist
include conf/rules/*.dist
include scripts/init.d-centos/fuglu
include scripts/init.d-debian/fuglu
include scripts/fuglu_mrtg.sh
include compareconfig.py