# default allowed / denied filename patterns within archives (zip etc)
# line format:
# <action> <regex> <description>
# <action> can be:
# allow - this file is ok, don't do further checks . Don't use this blindly! If unsure, make NO rule instead of allow
# deny - send error containing <description> back to sender, don't deliver the message
# delete - silently delete the message, no error is sent back. Be careful with this option!

deny \.vbs$     Archive contains potentially dangerous Visual Basic script file name  (.vbs)
deny \.bat$     Archive contains potentially dangerous Windows batch file (.bat)
deny \.cmd$     Archive contains potentially dangerous Windows batch file (.cmd)
deny \.exe$     Archive contains potentially dangerous Windows executable file name (.exe)
deny \.scr$     Archive contains potentially dangerous Windows screensaver file name (.scr)
deny \.vb[es]?$ Archive contains potentially dangerous Visual Basic Script (.vbe/.vbs)


# block zip in zip - disabled by default, often used in legit traffic
# deny \.zip$     nested ZIP archives - abused to conceal malware
