# default allowed / denied filename patterns
# line format:
# <action> <regex> <description>
# <action> can be:
# allow - this file is ok, don't do further checks . Don't use this blindly! If unsure, make NO rule instead of allow
# deny - send error containing <description> back to sender, don't deliver the message
# delete - silently delete the message, no error is sent back. Be careful with this option!

# These are known to be mostly harmless or are used in ham too often to block
allow   \.jpg$                -
allow   \.gif$                -
allow   \.png$                -
allow   \.docx?$              -
allow   \.xlsx?$              -
allow   \.ppsx?$              -
allow   \.pdf$                -
allow   \.xml$                -
allow   \.rtf$                -
allow   \.url$                - override microsoft deny list
allow   \.cer$                - override microsoft deny list
allow   \.crt$                - override microsoft deny list
allow   \.vcf$                -
allow   \.txt$                -
allow   \.zip$                -
allow   \.t?gz$               -
allow   \.bz2$                -
allow   \.Z$                  -
allow   \.7z$                 -
allow   \.rpm$                -

# digital signatures, certificates, encrypted files
allow   \.gpg$                -
allow   \.pgp$                -
allow   \.sig$                -
allow   \.asc$                -
allow   \.p7[sm]$             -
allow   \.pk7$                -

# Macintosh archives
allow   \.hqx$                -
allow   \.sit.bin$            -
allow   \.sea$                -

# consider enabling this
# deny \.jar$   executable java program

# from http://support2.microsoft.com/?kbid=883260 - last updated 2015-03-12
deny    \.ad[ep]$   Dangerous attachment type (Microsoft kbid=883260)
deny    \.app$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.asp$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.ba[st]$   Dangerous attachment type (Microsoft kbid=883260)
#disabled, often used in ham
#deny    \.cer$     Dangerous attachment type (Microsoft kbid=883260)
deny    \.chm$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.cmd$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.com$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.cpl$      Dangerous attachment type (Microsoft kbid=883260)
#disabled, often used in ham
#deny   \.crt$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.csh$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.exe$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.fxp$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.hlp$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.hta$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.in[fs]$   Dangerous attachment type (Microsoft kbid=883260)
deny    \.isp$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.its$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.jse?$     Dangerous attachment type (Microsoft kbid=883260)
deny    \.ksh$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.lnk$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.ma[dfgmqrstuvw]$   Dangerous attachment type (Microsoft kbid=883260)
deny    \.md[abetwz]$        Dangerous attachment type (Microsoft kbid=883260)
deny    \.ms[cipt]$          Dangerous attachment type (Microsoft kbid=883260)
deny    \.ops$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.pcd$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.pif$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.pr[fg]$   Dangerous attachment type (Microsoft kbid=883260)
deny    \.pst$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.reg$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.sc[frt]$  Dangerous attachment type (Microsoft kbid=883260)
deny    \.sh[bs]$   Dangerous attachment type (Microsoft kbid=883260)
deny    \.tmp$      Dangerous attachment type (Microsoft kbid=883260)
#disabled, often used in Windows ham:
#deny   \.url$      Dangerous attachment type (Microsoft kbid=883260)
deny    \.vb[es]?$  Dangerous attachment type (Microsoft kbid=883260)
deny    \.vsmacros$ Dangerous attachment type (Microsoft kbid=883260)
deny    \.vs[stw]$  Dangerous attachment type (Microsoft kbid=883260)
deny    \.ws[cfh]?$ Dangerous attachment type (Microsoft kbid=883260)

# google also blocks these https://support.google.com/mail/answer/6590
deny \.lib$  Dangerous attachment type
deny \.sys$  Dangerous attachment type
deny \.vxd$  Dangerous attachment type
