#default allowed / denied filetype patterns 
# as detected by libmagic's 'file -i' command
# line format:
# <action> <regex> <description>
# <action> can be:
# allow - this content type is ok, don't do further checks . Don't use this blindly! If unsure, make NO rule instead of allow
# deny - send error containing <description> back to sender, don't deliver the message
# delete - silently delete the message, no error is sent back. Be careful with this option!

allow        text           -
allow        \bscript       -
allow        archive        -
allow        postscript     -
deny         self-extract   No self-extracting archives
deny         executable     No programs allowed
deny         ELF            No programs allowed
deny         Registry       No Windows Registry files allowed