#default allowed / disabled filename patterns. Most part of this taken from Mailscanner defaults
# Fuglu Format:
# <action> <regex> <description>
# <action> can be:
# allow - this file is ok, don't do further checks . Don't use this blindly! If unsure, make NO rule instead of accept
# deny - send error containing <description> back to sender, don't deliver the offending message
# delete - silently delete the message, no error is sent back. Be careful with this option!


deny    \.ani$                  Windows animated cursor file security vulnerability
deny    \.cur$                  Windows cursor file security vulnerability
deny    \.hlp$                  Windows help file security vulnerability
deny    \.cab$                  Possible malicious Microsoft cabinet file

# These are known to be mostly harmless.
allow   \.jpg$                  -
allow   \.gif$                  -
# .url is arguably dangerous, but I can't just ban it...
allow   \.url$                  -
allow   \.vcf$                  -
allow   \.txt$                  -
allow   \.zip$                  -
allow   \.t?gz$                 -
allow   \.bz2$                  -
allow   \.Z$                    -
allow   \.rpm$                  -
# PGP and GPG
allow   \.gpg$                  -
allow   \.pgp$                  -
allow   \.sig$                  -
allow   \.asc$                  -
# Macintosh archives
allow   \.hqx$                  -
allow   \.sit.bin$              -
allow   \.sea$                  -

# These are known to be dangerous in almost all cases.
deny    \.reg$          Windows registry entries are very dangerous in email
deny    \.chm$          Compiled help files are very dangerous in email
# See http://office.microsoft.com/2000/articles/Out2ksecFAQ.htm for more info.
deny    \.cnf$          SpeedDials are very dangerous in email
deny    \.hta$          HTML archives are very dangerous in email
deny    \.ins$          Windows Internet Settings are dangerous in email
deny    \.jse?$         JScript Scripts are dangerous in email
deny    \.job$          Task Scheduler requests are dangerous in email
deny    \.lnk$          Potential *.lnk security hole attack
deny    \.ma[dfgmqrstvw]$       Microsoft Access Shortcuts are dangerous in email
deny    \.pif$          Shortcuts to MS-Dos programs are very dangerous in email
deny    \.scf$          Windows Explorer Commands are dangerous in email
deny    \.sct$          Windows Script Components are dangerous in email
deny    \.shb$          Shortcuts Into Documents are very dangerous in email
deny    \.shs$          Shell Scrap Objects are very dangerous in email
deny    \.vb[es]$       Visual Basic Scripts are dangerous in email
deny    \.ws[cfh]$      Windows Script Host files are dangerous in email
deny    \.xnk$          Microsoft Exchange Shortcuts are dangerous in email

# These are new dangerous attachment types according to Microsoft in
# http://support.microsoft.com/?kbid=883260
#deny   \.cer$          Dangerous Security Certificate (according to Microsoft)
allow   \.cer$          Dangerous Security Certificate (according to Microsoft)
deny    \.its$          Dangerous Internet Document Set (according to Microsoft)
deny    \.mau$          Dangerous attachment type (according to Microsoft)
deny    \.md[az]$       Dangerous attachment type (according to Microsoft)
deny    \.prf$          Dangerous Outlook Profile Settings (according to Microsoft)
deny    \.pst$          Dangerous Office Data File (according to Microsoft)
deny    \.tmp$          Dangerous Temporary File (according to Microsoft)
deny    \.vsmacros$     Dangerous Visual Studio Macros (according to Microsoft)
deny    \.vs[stw]$      Dangerous attachment type (according to Microsoft)
deny    \.ws$           Dangerous Windows Script (according to Microsoft)


# These 2 added by popular demand - Very often used by viruses
deny    \.com$          Executable DOS/Windows programs are dangerous in email
deny    \.exe$          Executable DOS/Windows programs are dangerous in email

# These are very dangerous and have been used to hide viruses
deny    \.scr$          Windows Screensavers are often used to hide viruses
deny    \.bat$          Batch files are often malicious
deny    \.cmd$          Batch files are often malicious
deny    \.cpl$          Control panel items are often used to hide viruses


# Deny filenames with lots of contiguous white space in them.
deny    \s{10,}         A long gap in a name is often used to hide part of it (10+ spaces)