To: ${suspect.from_address}
Subject: Blocked attachment

Your message to ${suspect.to_address} contains a blocked attachment and has been deleted.

${suspect.tags['FiletypePlugin.errormessage']}

You may add this file to a zip archive (or similar) and send it again.