#todo: add all plugin / core loggers!

[loggers]
keys=root

[handlers]
keys=sysout,logfile,syslog

[formatters]
keys=sysoutformatter,logfileformatter,syslogformatter

[logger_root]
level=INFO
handlers=logfile
#set this to syslog instead of logfile if you'd like fuglu to log to your standard mail log

[logger_saplugin]
level=INFO
handlers=logfile
propagate=0
qualname=fuglu.plugin.SAPlugin

[logger_filetypeplugin]
level=INFO
handlers=logfile
propagate=0
qualname=fuglu.plugin.FiletypePlugin

[logger_bounces]
level=INFO
handlers=logfile
propagate=0
qualname=fuglu.bouncer


[handler_sysout]
class=StreamHandler
level=NOTSET
formatter=sysoutformatter
args=(sys.stdout,)


[handler_logfile]
class=handlers.TimedRotatingFileHandler
level=NOTSET
args=('/var/log/fuglu/fuglu.log','midnight',1,14)
formatter=logfileformatter

[handler_syslog]
class=handlers.SysLogHandler
level=NOTSET
formatter=syslogformatter
args=('/dev/log',handlers.SysLogHandler.LOG_MAIL)

[formatter_logfileformatter]
format=%(asctime)s %(name)-12s: %(levelname)s %(message)s

[formatter_sysoutformatter]
format=%(asctime)s %(levelname)s %(message)s

[formatter_syslogformatter]
format=fuglu[%(process)d]: %(message)s