#todo: add all plugin / core loggers!

[loggers]
keys=root

[handlers]
keys=sysout,logfile

[formatters]
keys=sysoutformatter,logfileformatter

[logger_root]
level=INFO
handlers=logfile

[logger_saplugin]
level=INFO
handlers=logfile
propagate=0
qualname=fuglu.plugin.SAPlugin

[logger_filetypeplugin]
level=INFO
handlers=logfile
propagate=0
qualname=fuglu.plugin.FiletypePlugin

[logger_bounces]
level=INFO
handlers=logfile
propagate=0
qualname=fuglu.bouncer


[handler_sysout]
class=StreamHandler
level=NOTSET
formatter=sysoutformatter
args=(sys.stdout,)


[handler_logfile]
class=handlers.TimedRotatingFileHandler
level=NOTSET
args=('/var/log/fuglu/fuglu.log','midnight',1,14)
formatter=logfileformatter

[formatter_logfileformatter]
format=%(asctime)s %(name)-12s: %(levelname)s %(message)s

[formatter_sysoutformatter]
format=%(asctime)s %(levelname)s %(message)s
